@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");

* {
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-container-top {
  background-color: #222222;
  color: #f3f3f3;
  font-weight: 400;
}

.header-lista {
  list-style: none;
}

.header-container-bottom {
  background-color: #f0a83e;
}

.logo-base {
  font-size: 20px;
  font-weight: 700;
  line-height: 23.44px;
  color: #ffffff;
}

.logo-first {
  color: #3c2313;
}

.nav-links {
  list-style: none;
  color: #ffffff;
  font-weight: 400;
  font-size: 13px;
}

.banner{
    background-image: url(../img/bowl-and-pet-daities-on-green-background\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 409px;
    text-align: center;

}

.banner button {
  background: #F0A83E;
  border-style: none;
  color: white;
  font-size: 16px;
  font-weight: 400;
  height: 49px;
  width: 141px;
}

.productos li{
  display: inline;
  margin-right: 5px;
  color: #666666;
  font-size: 15px;
  font-weight: 400;
}

.productos .precio {
  color: #F0A83E;
  
}

.footer-top {
  background: #3C2313;
  color: #8A8787;
}

.footer-top h3{
  color: white;
  font-size: 20px;
  font-weight: 700;
}

footer .logo-base {
  color: #F0A83E;
}

footer .logo-first{
  color: white;
}

.derechos p {
  text-align: center;
  color: white;
  background-color: #222222;
}