@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-container-top {
  background-color: #222222;
  color: #f3f3f3;
  display: flex;
  font-weight: 400;
  justify-content: space-between;
  padding: 5px 30px;
}

header select {
  background-color: #222222;
  color: #f3f3f3;
  border: none;
}

/* .header-lista {
  list-style: none;
} */

.header-container-bottom {
  align-items: center;
  background-color: #f0a83e;
  display: flex;
  height: 8vh;
  justify-content: space-between;
  padding: 0px 30px;
}

.logo-base {
  font-size: 35px;
  font-weight: 700;
  line-height: 23.44px;
  color: #ffffff;
}

.logo-base img{
  width: 30px;
}

.logo-first {
  color: #3c2313;
}

.nav-links {
  color: #ffffff;
  display: flex;
  font-size: 13px;
  font-weight: 400;
  width: 25%;
}

.nav-links ul {
  display: flex;
  width: 100%;
  list-style: none;
  justify-content: space-around;
}

main {
  display: flex;
  flex-direction: column;
}

.banner {
  align-items: center;
  align-content: flex-end;
  background-image: url(../img/bowl-and-pet-daities-on-green-background\ 1.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: #3c2313;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-weight: 400;
  justify-content: center;
  height: 60vh;
  padding-right: 10vw;
  text-align: center;
}

.banner h2 {
  background-color: white;
  letter-spacing: 2px;
  padding: 10px;
}

.banner h4 {
  margin: 15px 0;
}

.banner button {
  background: #f0a83e;
  border-style: none;
  color: white;
  font-size: 16px;
  font-weight: 400;
  height: 49px;
  width: 141px;
}

.productos {
  display: flex;
  flex-direction: column;
}

.productos-especiales {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 26vh;
  justify-content: space-evenly;
}

.productos-especiales h1 {
  color: #3c2313;
  font-size: 55px;
}


.productos li {
  display: inline;
  margin-right: 5px;
  color: #666666;
  font-size: 15px;
  font-weight: 400;
}

.productos-lista{
  display: flex;
  align-self: center;
  width: 80%;
  justify-content: space-evenly;
}

.productos-lista article{
  background-color: #FBFAF6;
  display: flex;
  flex-direction: column;
  margin: 40px 0;
  text-align: center;
  width: 30%;
}

.precio {
  color: #f0a83e;
}

.footer-top{
  background-color: #F0A83E;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 70px;

}

.novedades, .suscribirme {
  align-items: center;
  display: flex;
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  justify-content: center;
  width: 25%;

}

.suscribirme input{
  width: 300px;
  border-radius: 20px;
  height: 40px;
  padding: 10px;
}

.suscribirme button{
  color: white;
  background-color: #3C2313;
  height: 40px;
  border-radius: 20px;
  margin-left: 6px;
  width: 100px;
}


.footer-main {
  background: #3c2313;
  color: #8a8787;
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

.contacto div {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
  width: 25vw;
}

.contacto img {
  width: 5vw;
}
.contacto ul{
  list-style: none;
  width: 15vw;
}

.contacto h3 {
  color: white;
  font-size: 30px;
  font-weight: 700;
}

.logo{
  align-self: center;
  width: 20vw;
}

footer .logo-base {
  color: #f0a83e;
}

footer .logo-first {
  color: white;
}

.derechos p {
  text-align: center;
  color: white;
  background-color: #222222;
}
